* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  background-color: rgb(211, 204, 197);
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: rgb(142, 142, 142);
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}


.splash-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.splash {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10%;
}

.splash-head {
  border: 3px solid rgb(142, 142, 142);
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.splash-head-live {
  border: 3px solid rgb(255, 70, 70);
  /* create a ripple outside animation */
  box-shadow: 0 0 0 0 rgba(255, 70, 70, 0.7);
  animation: ripple 1.5s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 70, 70, 0.7);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 70, 70, 0);
  }
}

.splash-subhead {
  color: rgb(142, 142, 142);
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: medium;
}

.footer {
  min-height: 120px;
  height: 120px;
  width: 100%;
}

@media (min-width: 48em) {

  body {
    font-size: 16px;
  }

  .splash {
    width: 50%;
    height: 100%;
    margin-top: 10%;
  }

  .splash-head {
    font-size: 250%;
  }

}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}

.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  max-width: 400px;
  margin: 10px auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}

.card-description {
  color: #555;
  text-align: left;
}

.live-badge {
  position: absolute;
  bottom: 0;
  justify-self: center;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  padding: 3px 6px;
  margin-left: 100px;
  border-radius: 8px;
  font-weight: bold;
  line-height: 1;
}

.avatar-container {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  flex-shrink: 0;
}

.overlay-link {
  position: absolute;
  top: 0;
  justify-self: center;
  ;
  border-radius: 50%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  display: block;
}